/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB           &kp Q  &kp W  &kp E  &kp R      &kp T      &kp Y    &kp U          &kp I      &kp O    &kp P     &kp DEL
&kp LSHIFT        &kp A  &kp S  &kp D  &kp F      &kp G      &kp H    &kp J          &kp K      &kp L    &kp SEMI  &kp RIGHT_SHIFT
&kp LEFT_CONTROL  &kp Z  &kp X  &kp C  &kp V      &kp B      &kp N    &kp M          &kp COMMA  &kp DOT  &kp FSLH  &kp RIGHT_CONTROL
                                &mo 1  &kp SPACE  &kp ESC    &kp RET  &kp BACKSPACE  &mo 2
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &trans  &trans  &trans    &trans          &trans     &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp NUMBER_5  &kp BSPC
&trans  &trans  &trans  &trans    &kp LEFT_SHIFT  &trans     &kp NUMBER_6  &kp NUMBER_7  &kp NUMBER_8  &kp N9        &kp NUMBER_0  &trans
&trans  &trans  &trans  &trans    &trans          &trans     &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &trans        &trans
                        &kp LGUI  &trans          &kp ESC    &kp RET       &trans        &trans
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp MINUS       &kp EQUAL  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BACKSLASH  &kp SQT              &trans   &trans  &trans  &trans  &trans  &trans
&kp UNDERSCORE  &kp PLUS   &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp PIPE       &kp DOUBLE_QUOTES    &trans   &trans  &trans  &trans  &trans  &trans
&trans          &trans     &trans            &trans             &trans         &trans               &trans   &trans  &trans  &trans  &trans  &trans
                                             &kp LGUI           &trans         &kp ESCAPE           &kp RET  &trans  &trans
            >;
        };
    };
};
